email:
    host: smtp.gmail.com
    port: 587
    user: SOME_ADDRESS@gmail.com
    password: "EMAIL PASSWORD"
    subject: "EMAIL SUBJECT"
    recipients: [
        recipient_one@gmail.com,
        recipient_two@gmail.com
    ]

input:
    data: [
        "http://datasets.wikimedia.org/limn-public-data/mobile/datafiles/ui-daily-historic.csv"
    ]

output:
    path: datafiles  # folder where generated CSV files are saved

error_threshold: 10  # value is an anomaly if there is at least 10% difference between the actual and forecasted values
